<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="NganHangEntities" connectionString="metadata=res://*/QuestionBank.csdl|res://*/QuestionBank.ssdl|res://*/QuestionBank.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZERO;initial catalog=TestQuestionBank;persist security info=True;user id=sa;password=p@ssw0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="NganHangEntities" connectionString="metadata=res://*/LocalQuestionBank.csdl|res://*/LocalQuestionBank.ssdl|res://*/LocalQuestionBank.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='data source=&quot;...\Database\NganHangMain.sdf&quot;;password=qbank;persist security info=True'" providerName="System.Data.EntityClient" />
    <add name="LocalNganHangEntities" connectionString="metadata=res://*/LocalQuestionBank.csdl|res://*/LocalQuestionBank.ssdl|res://*/LocalQuestionBank.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='data source=&quot;...\Database\NganHang.sdf&quot;;password=qbank;persist security info=True'" providerName="System.Data.EntityClient" />-->
    <add name="NganHangEntities" connectionString="metadata=res://*/LocalQuestionBank.csdl|res://*/LocalQuestionBank.ssdl|res://*/LocalQuestionBank.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='data source=&quot;..\..\Database\NganHangMain.sdf&quot;;password=qbank;persist security info=True'" providerName="System.Data.EntityClient" />
    <add name="LocalNganHangEntities" connectionString="metadata=res://*/LocalQuestionBank.csdl|res://*/LocalQuestionBank.ssdl|res://*/LocalQuestionBank.msl;provider=System.Data.SqlServerCe.4.0;provider connection string='data source=&quot;..\..\Database\NganHang.sdf&quot;;password=qbank;persist security info=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <appSettings>
    <add key="ImagesServerFolderPath" value="./Images" />
    <add key="Server" value="(local)" />
    <add key="User" value="sa" />
    <add key="Password" value="p@ssw0rd" />
    <add key="Database" value="NganHang" />
    <add key="Minute" value="5" />
    <add key="ServerDb" value="\Database\NganHangMain.sdf" />
    <add key="LocalDb" value="\Database\NganHang.sdf" />
    <add key="ReportTemplate" value="\Reports\ReportTemplate.dot" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>